.App {
  /* this is needed or the background will be offset by a few pixels at the top */
  overflow: auto;
  position: relative;
}
.App::before {
  content: "";
  text-align: center;
  background-image: url('../../Assets/castle.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: blue;

  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

  transform: scale(1.1);
}


.preload *{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}


.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 30px;
  /*padding-bottom: 80px;*/
  /*width: 70%;*/
}

.slider + input:nth-of-type(2):checked {
  transform: translateX(100%);
}

input:nth-of-type(3):checked ~ .slider{
  transform: translateX(200%);
  background-color: chocolate;
}

input[name="tab-control"] {
  display: none;
}

.tabs ul {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 15px;
  overflow: hidden;
}

.tabs ul li {
  transition: background-color 0.5s ;
}

ul li label {
  font-weight: bold;
  font-size: 18px;
  /*color: blue;*/
}

li.checked {
  background-color: #7999c2;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

li {
  box-sizing: border-box;
  flex: 1;
  width: calc(100% / 4);
  text-align: center;
}

label {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}

label[role=button] {
  padding: 10px;
  display: block;
}

br {
  display: none;
}

li label svg {
  height: 1.2em;
  vertical-align: center;
  margin-right: 0.2em;
  /*transition: all 0.2s ease-in;*/
}

.slider {
  position: relative;
  width: calc(100% / 4);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: blue;
  border-radius: 1px;
}

li.checked label {
  color: white;
}
