.App {
  /* this is needed or the background will be offset by a few pixels at the top */
  overflow: auto;
  position: relative;
}
.App::before {
  content: "";
  text-align: center;
  background-image: url('../../Assets/castle.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: blue;

  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

  transform: scale(1.1);
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 30px;
  display: inline-flex;
  align-items: stretch;
  width: 100%;
  /*padding-bottom: 80px;*/
  /*width: 70%;*/
}

input[name="tab-control"] {
  display: none;
}

.tabs ul {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
  margin-right: 10px;
}

.tabs ul li {
  transition: background-color 0.5s ;
}

ul li label {
  font-weight: bold;
  font-size: 18px;
  /*color: blue;*/
}

li.checked {
  background-color: #7999c2;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  /*align-items: flex-end;*/
  flex-wrap: wrap;
}

li {
  box-sizing: border-box;
  flex: 1;
  width: calc(100% / 2);
  text-align: center;
}


label {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}

label.button {
  padding: 10px;
  display: block;
}

br {
  display: none;
}

li label svg {
  height: 1.2em;
  vertical-align: center;
  margin-right: 0.2em;
  /*transition: all 0.2s ease-in;*/
}

li.checked label {
  color: white;
}


@media screen and (max-width: 500px) {
  label {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 350px) {
  label {
    font-size: 14px !important;
  }
}
