.Attraction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    /*margin: 10px;*/
    transition: 1.5s;
    position: relative;
}

.Attraction .FlexNormal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Attraction.Green {
    background-color: #00ff00;
}

.Attraction.Orange {
    background-color: #ffa500;
}

.Attraction.Red {
    background-color: #ff0000;
}

/*.Red {*/
/*    animation: ScaleUpDownRed 2s ease 0s 1 normal forwards;*/
/*}*/
/*.Green {*/
/*    animation: ScaleUpDownGreen 2s ease 0s 1 normal forwards;*/
/*}*/
/*.Orange {*/
/*    animation: ScaleUpDownOrange 2s ease 0s 1 normal forwards;*/
/*}*/

.Attraction.Closed {
    background-color: #c8c8c8;
    color: grey;
}

.Attraction.Open .FlexNormal {
    margin-right: 15px;
}

.Attraction .IsClosed {
    color: red;
    position: relative;
    right: 0;
}

.Attraction .WaitingTime {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFF;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    background-color: #FFF;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}
.Attraction.Green .WaitingTime {
    background-color: #94ff94;
}
.Attraction.Orange .WaitingTime {
    background-color: #ffd451;
}
.Attraction.Red .WaitingTime {
    background-color: #b50000;
}
.Attraction.Closed .WaitingTime {
    background-color: #a9a9a9;
    color: grey;
}

.Attraction .Favorite {
/*    place a star emoji in the upper right corner */
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
    transition: 1.5s;
}

.Attraction .Favorite[animated='1'] {
    animation: scale 0.4s 1;
}

@keyframes scale {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }
    33% {
        animation-timing-function: ease-out;
        transform: scale(0.1);
    }
    75% {
        animation-timing-function: ease-in;
        transform: scale(1.5);
    }
    100% {
        animation-timing-function: ease-in;
        transform: scale(1);
    }
}


@keyframes ScaleUpDownGreen {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}
@keyframes ScaleUpDownOrange {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}
@keyframes ScaleUpDownRed {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}
